* {
  font-family: 'Roboto', sans-serif;
}

body {
  overflow-x: hidden;
}

header {
  position: relative;
  height: 50px;
}

nav {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #212121;
  z-index: 2;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none;
  border-right: none;
}

.menu_link {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
  text-decoration: none;
}

.menu_item {
  border-right: 2px dotted black;
  padding-right: 28px;
}

.subheader {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
}

.subheader_logo {
  display: block;
  max-width: 100%;
  margin-top: 16px;
}

.subheader_official {
  margin-top: 6px;
  opacity: 0.5;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
}

.subheader_call {
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
  margin-top: 19px;
  text-align: right;
}

.subheader_phone {
  display: block;
  margin-top: 8px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: right;
  line-height: 12px;
  text-decoration: none;
}

.subheader_btn {
  margin-top: 19px;
  width: 172px;
  height: 46px;
  -webkit-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.subheader_btn:hover {
  background-image: none;
  background: #1EACC7;
}

.promo {
  min-height: 800px;
  background: url("../img/uber_bg.jpg") center center/cover no-repeat;
  padding: 150px 0 135px 0;
}

.promo_header {
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 60px;
  margin: 0;
  text-align: center;
}

.promo_subheader {
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-top: 22px;
  text-align: center;
}

.promo_descr {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-top: 23px;
}

.promo_btn {
  display: block;
  margin: 118px auto 0 auto;
  width: 259px;
  height: 63px;
  -webkit-box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.promo_btn:hover {
  background-image: none;
  background: #1EACC7;
}

.reasons {
  padding: 20px 0 65px 0;
}

.label {
  margin: 0 auto;
  height: 24px;
  width: 112px;
  padding: 5px 12px;
  background-color: #000000;
  color: #ffffff;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

.title {
  margin-bottom: 0;
  margin-top: 38px;
  color: #222222;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  color: #222222;
  text-align: center;
}

.reasons .reasons_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 35px;
}

.reasons .reasons_block .reasons_round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 26px;
  width: 113px;
  height: 113px;
  background-color: #1eacc7;
  border-radius: 100%;
}

.reasons .reasons_block .reasons_descr {
  width: 343px;
}

.reasons .reasons_block .reasons_descr .reasons_subtitle {
  line-height: 21px;
  color: #1eacc7;
  font-size: 17px;
  font-weight: 400;
}

.reasons .reasons_block .reasons_descr .reasons_text {
  color: #202020;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
}

.mobile {
  min-height: 864px;
  padding: 48px 0 79px 0;
  background: url("../img/mobile_bg.jpg") center center/cover no-repeat;
}

.mobile .row {
  margin-top: 32px;
}

.mobile_item {
  position: relative;
  width: 320px;
  height: 280px;
  margin: 0 auto;
  margin-bottom: 19px;
  padding-top: 92px;
}

.mobile_item_1 {
  background: url("../icons/possibilities1.jpg") center center/cover no-repeat;
}

.mobile_item_2 {
  background: url("../icons/possibilities2.jpg") center center/cover no-repeat;
}

.mobile_item_3 {
  background: url("../icons/possibilities3.jpg") center center/cover no-repeat;
}

.mobile_item_4 {
  background: url("../icons/possibilities4.jpg") center center/cover no-repeat;
}

.mobile_item_5 {
  background: url("../icons/possibilities5.jpg") center center/cover no-repeat;
}

.mobile_item_6 {
  background: url("../icons/possibilities6.jpg") center center/cover no-repeat;
}

.mobile_item_subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
}

.mobile_item_plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 29px;
  height: 29px;
  background: #000000;
  margin: 0 auto;
  border-radius: 100%;
  cursor: pointer;
}

.mobile_item_plus:before {
  content: '';
  display: block;
  width: 14px;
  height: 2px;
  background-color: #1EACC7;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.mobile_item_plus:after {
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  height: 14px;
  width: 2px;
  background-color: #1EACC7;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.mobile_item_plus:hover:before, .mobile_item_plus:hover:after {
  background-color: #FF5656;
}

.uberx {
  position: relative;
  min-height: 895px;
  background-color: #070716;
  padding-top: 57px;
}

.uberx .label_white {
  background-color: #FFFFFF;
  color: #070716;
}

.uberx .title_white {
  color: #FFFFFF;
}

.uberx .subtitle_white {
  color: #FFFFFF;
}

.uberx img {
  position: absolute;
  right: -10px;
  margin-top: 56px;
  z-index: 1;
}

.uberx_text {
  position: absolute;
  top: 710px;
  left: 800px;
  width: 300px;
  z-index: 5;
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: #222222;
}

.requier {
  padding: 68px 0 84px 0;
}

.requier_block {
  margin: 33px 0;
}

.requier_block_nmb {
  margin-bottom: 0;
}

.requier_title {
  font-size: 22px;
  font-weight: 400;
  color: #1CA8C3;
}

.requier_list {
  list-style-type: none;
  padding-left: 50px;
  margin-top: 22px;
}

.requier_list li {
  position: relative;
  font-weight: 300;
  font-size: 17px;
  color: #222222;
  line-height: 24px;
  margin-bottom: 10px;
}

.requier_list li::before {
  content: '';
  position: absolute;
  left: -32px;
  top: 3px;
  width: 21px;
  height: 20px;
  background: url("../icons/check_blue1.png") center center/cover no-repeat;
}

.requier_descr {
  margin-top: 25px;
  font-style: 17px;
  font-weight: 300;
  line-height: 24px;
  color: #1ca8c3;
}

.requier .warning .require_title {
  color: #FF5656;
}

.requier .warning .require_title li::before {
  background: url("../icons/check_red.png") center center/cover no-repeat;
}

.world {
  min-height: 712px;
  padding: 48px 0 22px 0;
  background: url("../img/world_bg.jpg") center center/cover no-repeat;
  text-align: center;
}

.world_label {
  margin: auto;
  padding: 5px;
  width: 76px;
  height: 24px;
  background: #FFFFFF;
  font-family: Roboto;
  font-size: 11px;
  text-transform: uppercase;
  color: #070716;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.world_title {
  margin-top: 26px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 38px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.world_subtitle {
  margin-top: 2px;
  font-family: Roboto;
  font-size: 17px;
  color: #FFFFFF;
}

.world_sity {
  margin-top: 456px;
  font-family: Roboto;
  font-size: 15px;
  text-transform: uppercase;
  color: #1EACC7;
}

footer {
  min-height: 156px;
  padding: 14px 0 40px 0;
}

footer .footer_line {
  margin: 0 auto 35px;
  width: 299px;
  height: 4px;
  background: #1EACC7;
}

footer .footer_block {
  margin: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer_block .block_network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .footer_block .block_network .block_network_icons {
  width: 32px;
  height: 32px;
  background: #070716;
  border-radius: 100%;
  margin-right: 9px;
}

footer .footer_block .block_network .block_network_icons img {
  display: block;
  margin: 8px auto;
}

footer .footer_block .block_menu {
  width: 400px;
  margin-left: 125px;
}

footer .footer_block .block_menu .block_menu_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}

footer .footer_block .block_menu .block_menu_title a {
  font-weight: 300;
  font-size: 15px;
  text-transform: uppercase;
  color: #070716;
  text-decoration: none;
}

footer .footer_block .block_menu .block_menu_subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 18px;
}

footer .footer_block .block_menu .block_menu_subtitle a {
  font-weight: 300;
  font-size: 11px;
  text-transform: uppercase;
  color: #999999;
  text-decoration: none;
}

footer .footer_block .block_menu .block_menu_language {
  font-weight: normal;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
  color: #1FBAD6;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (min-width: 1200px) {
  .menu_item {
    padding-right: 20px;
  }
  .menu_link {
    font-size: 13px;
  }
}
